sounddevice
TikTokLive
pyperclip
git+https://github.com/owsombra/chat-downloader.git
git+https://github.com/metalalchemist/google-currency
git+https://github.com/accessibleapps/sound_lib
git+https://github.com/accessibleapps/accessible_output2
git+https://github.com/rmcpantoja/googletrans.git
numpy
onnxruntime
git+https://github.com/mush42/espeak-phonemizer-windows
uiautomation
psutil
requests
git+https://github.com/KaitoCross/pytchat
yt-dlp
python-vlc
wxPython==4.2.2; sys_platform == "win32" and platform_machine == "x86"
wxPython; sys_platform == "win32" and (platform_machine == "AMD64" or platform_machine == "x86_64")