wxPython
playsound==1.2.2
yt_dlp
TikTokLive
pyperclip
chat_downloader
git+https://github.com/metalalchemist/google-currency
git+https://github.com/accessibleapps/accessible_output2
git+https://github.com/StarkBotsIndustries/googletrans.git